PUBLIC_BACKEND_URL=http://localhost:3000
PUBLIC_FRONTEND_URL=http://localhost:3000
PUBLIC_DOCUMENTATION_URL=https://help.chunisupport.net
PUBLIC_BOOKMARKLET_URL=https://dist.chunisupport.net
PUBLIC_BOOKMARKLET_ENTRYPOINT=dhq.js
PUBLIC_CF_TURNSTILE_SITE_KEY=1x00000000000000000000AA
