PUBLIC_BACKEND_URL=http://localhost:3000
PUBLIC_FRONTEND_URL=http://localhost:3000
PUBLIC_DOCUMENTATION_URL=https://docs.chunisupport.net
PUBLIC_BOOKMARKLET_URL=https://dist.chunisupport.net
PUBLIC_BOOKMARKLET_ENTRYPOINT=dhq.js
PUBLIC_CF_TURNSTILE_SITE_KEY=1x00000000000000000000AA
PUBLIC_FB_API_KEY=test-api-key
PUBLIC_FB_AUTH_DOMAIN=test.firebaseapp.com
PUBLIC_FB_PROJECT_ID=test-project
PUBLIC_FB_STORAGE_BUCKET=test.appspot.com
PUBLIC_FB_MESSAGING_SENDER_ID=123456789
PUBLIC_FB_APP_ID=test-app-id
