# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Environment
.env

# Temporary Files
API.md
migration/
*.sql
error_codes.md
.env.staging
